/**
 * メインCSS
 */

html {
    width: 100%
}

body {
    width: 100%;
}

#app {
    width: 100%;
}

.content {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
}

.build_right_area {
    width: calc(70% - 36px);
    float: left;
    padding-left: 20px;
    padding-right: 16px;
}

.build_left_area {
    width: calc(30% - 36px);
    float: left;
    padding-left: 20px;
    padding-right: 16px;
}


 div.modelArea {
     height: 800px;
     width: auto;
     border: #5c5c5c solid 1px;
 }
 div.refModelArea {
     height: 80%;
     width: auto;
     background-color: #ffffff;
     border: #5c5c5c solid 1px;
     top: 30px;
 }
#operation {
  font-size:28px;
}
#node-popUp {
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  /*width:200px;
  height:150px;*/
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:10px;
  text-align: center;
}
#edge-popUp {
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  /*width:250px;
  height:90px;*/
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:10px;
  text-align: center;
}
